@media (min-width: 1281px) {
  
  //CSS
  
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .navbar .collapse .navbar-nav .nav-item .nav-link {
    padding: .5rem 1.3rem;
  }  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar .collapse .navbar-nav .nav-item .nav-link {
    padding: .5rem 1.3rem;
  }  
}

@media (min-width: 768px) and (max-width: 991px) {  
  .topbar .topbar-left {
    text-align: center !important;
  }
  .topbar .topbar-right {
    text-align: center !important;
    margin-top: 10px;
  }  
}

@media (min-width: 481px) and (max-width: 767px) {  
  .topbar .topbar-left {
    text-align: center !important;
  }
  .topbar .topbar-right {
    text-align: center !important;
    margin-top: 10px;
  }  
  .services .box {
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {  
  .topbar .topbar-left {
    text-align: center !important;
  }
  .topbar .topbar-right {
    text-align: center !important;
    margin-top: 10px;
  }  
  .services .box {
    height: auto;
  }
}